@import url("variables.css");

main {
    padding-top: 150px;
}
h1 {
    text-align: center;
}
h2 {
    font-size: 30px;
}
p {
    padding-left: 20px;
    padding-bottom: 20px;
}
.games-link {
    text-decoration: underline;
}
.about-content {
    background-color: var(--clr-dark);
    padding: 20px;
    padding-bottom: 50px;
}

@media (max-width: 720px) {
    .h2-heading {
        font-size: 40px;
    }
    h2 {
        font-size: 20px;
        padding-top: 20px;
    }
    p {
        font-size: 14px;
    }
}