@import url("variables.css");


main {
    display: flex;
    justify-content: center;
    padding-top: 200px;
    height: 800px;
}

h2, h4 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
}


#checkmark {
    padding-left: 10px;
    font-size: 1.8;
    color: var(--clr-primary);
}

p {
    padding-top: 15px;
    line-height: 15px;
    text-align: center;
}

.message-confirmed {
    background-color: var(--clr-dark);
    align-items: center;
    height: 250px;
    border-radius: 4px;
}

.goback-link {
    text-decoration: underline;
}

@media (max-width:720px) {
    .message-confirmed {
        height: 290px;
    }
    h2 {
        font-size: 25px;
    }
    h4 {
        font-size: 16px;
    }
    p {
        font-size: 12px;
    }
}