@import url("variables.css");


main {
    padding-top: 200px;
    margin-bottom: 300px;
}

.contactus {
    display: flex;
    justify-content: center;
}

.customerservice-img {
    float: left;
    margin-left: 6px;
    margin-top: 116px;
    width: 150px;
    height: auto;
}
.contact-info {
    height: 200px;
    color: var(--clr-dark);
}
.needhelp {
    background-color: var(--clr-primary);   
    border-radius: 8px 0 0 8px;
    width: 400px;
    height: 350px; 
}
.needhelp h1 {
    float: right;  
    font-size: 2rem;  
    padding-top: 20px;
    padding-bottom: 10px;
    margin-right: 10px;
}
.needhelp p {
    float: right; 
    padding-right: 5px;
    margin-right: 10px;
    margin-top: 30px;
}

.formbox {
    padding-top: 10px;
    background-color: var(--clr-dark);  
    border-radius: 0 8px 8px 0;
    width: 400px;
    height: 350px;
    margin-bottom: 30px;
}
.name, .email {
    margin-left: 10px;
    margin-bottom: 10px;
    line-height: 50px;
    font-size: 0.9rem;
    width: 380px;
    height: 20px;  
    font-size: 40;
}
.messagebox {
    padding-top: 5px;
    padding-left: 5px;
    margin-left: 10px;
    font-size: 0.9rem;
    height: 150px;
    width: 377px;
}
input:focus::-webkit-input-placeholder {
    opacity: 0;
}
.submit-btn {
    border-color: var(--clr-primary);
    border-radius: 4px;
    width: 140px;
    height: 35px;
    background-color: var(--clr-dark);
    color: var(--clr-primary);  
    margin-left: 33%;
    font-weight: bold;
    margin-top: 20px;
}

label {
    color: var(--clr-primary);
    margin-bottom: 5px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 8px;
}

@media (max-width: 770px) {
    .contactus {
        flex-direction: column;
        align-items: center;
    }
    .needhelp {
        width: 350px;
        height: 350px;
        border-radius: 8px 8px 0 0;
    }
    .customerservice-img {
        float: left;
    }
    .needhelp p {
        font-size: 0.7rem;
    }
    .needhelp h1 {
        font-size: 1.3rem;
    }
    .needhelp h1, p {
        margin-right: 10px;
        margin-top: 40px;
    }
    .formbox {
        justify-content: center;
        line-height: 25px;
        align-items: center;
        border-radius: 0 0 8px 8px;
        width: 350px;
        height: 350px;
    }
    .name, .email {
        width: 330px;
        height: 20px;
    }
    .messagebox {
        width: 327px;
        height: 150px;
    }
    .submit-btn {
        margin-top: 0;
    }
}