@import url("variables.css");

.featured-cta {
    background-color: var(--clr-dark);
    text-align: center;
    line-height: 50px;
    padding-top: 90px;
}
.featured-cta img {
    width: 100%;
    height: auto;
}
.buy-btn {
    text-transform: uppercase;
    font-weight: bold;
    width: 130px;
    font-size: 1rem;
}


.information-line {
    background-color: var(--clr-dark);
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
}

#line-icons {
    display: flex;
    width: 100px;
    float: left;
    color: var(--clr-primary);
}

.orange-breakline {
    width: 100%;
    height: 3px;
    overflow: hidden;
    background-color: var(--clr-primary);
}
.community-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}
.community-info {
    background-color: var(--clr-dark);
    text-align: center;
    font-weight: bold;
    padding-top: 90px;
    line-height: 60px;
    width: 600px;
    height: 401px;
    border-radius: 4px 0 0 4px;
}
.onlinegaming-img {
    width: 600px;
    height: auto;
    border-radius: 0 4px 4px 0;
}




@media (max-width: 980px) {
    .community-container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .onlinegaming-img {
        border-radius: 4px 4px 0 0;
    }
    .community-info {
        border-radius: 0 0 4px 4px;
    }
}

@media (max-width: 720px) {
    .featured-cta h1 {
        font-size: 1.5rem;
    }
    .featured-cta h2 {
        font-size: 1rem;
    }
    .information-line h3 {
        font-size: 0.5rem;
        margin-left: 2px;
    }
    .information-line p {
        font-size: 0.4rem;
        margin-left: 2px;
    }
    #line-icons {
        font-size: 1.9rem;
    }
    .onlinegaming-img {
        width: 400px;
        height: auto;
    }
    .community-info {
        width: 400px;
        height: auto;
    }
}

@media (max-width: 430px) {
    .onlinegaming-img {
        width: 300px;
        height: auto;
    }
    .community-info {
        width: 300px;
        font-size: 0.7rem;
        line-height: 40px;
        padding-top: 40px;
        height: auto;
    }
}

@media (max-width: 300px) {
    .information-line h3 {
        font-size: 0.5rem;
        margin-left: 10px;
    }
    .information-line p {
        font-size: 0.4rem;
        margin-left: 10px;
    }
    #line-icons {
        font-size: 1.6rem;
        padding-left: 10px;
    }
}



.carousel {
    scroll-snap-type: x mandatory;
    scroll-padding: 0 24px;
}

.carousel .item {
    scroll-snap-align: start;
}

.carousel-img {
    width: 200px;
    height: auto;
}