@import url("variables.css");

.featured-cta {
    height: 600px;
    background-image: url("../images/Banner5.jpg");
    background-size: cover;
    text-align: center;
    line-height: 50px;
    padding-top: 90px;
    background-position-y: 29%;
    border-bottom: solid 3px var(--clr-primary);
}
.cta-info {
    background-color: var(--clr-dark);
    width: 160px;
    height: auto;
    border-radius: 4px;
    float: left;
    margin-left: 230px;
    margin-top: 130px;
}
.cta-background {
    background-color: var(--clr-dark);
}
.featured-cta img {
    width: 100%;
    height: auto;
}
.buy-btn {
    text-transform: uppercase;
    font-weight: bold;
    width: 130px;
    font-size: 1rem;
}
.trending-games, .featured-games {
    padding-bottom: 30px;
    font-size: 30px;
    display: flex;
    background-color: var(--clr-dark);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.title-description, .trend-price {
    font-size: 16px;
}

.information-line {
    background-color: var(--clr-dark);
    border-top: solid 3px var(--clr-primary);
    border-bottom: solid 3px var(--clr-primary);
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

#line-icon1, #line-icon2, #line-icon3 {
    display: flex;
    width: 100px;
    float: left;
    color: var(--clr-primary);
}
.community-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.community-info {
    background-color: var(--clr-dark);
    text-align: center;
    font-weight: bold;
    padding-top: 90px;
    line-height: 40px;
    width: 600px;
    height: 401px;
    border-radius: 4px 0 0 4px;
}
.community-info h2 {
    font-size: 30px;
}
.onlinegaming-img {
    width: 600px;
    height: auto;
    border-radius: 0 4px 4px 0;
}
/* FEATURED SECTION */
.featured-games {
    margin-top: 50px;
    padding: 30x;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.featured-container, .trending-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    width: 950px;
    height: auto;
    border-radius: 4px;
}
.featured-img {
    width: 200px;
    height: auto;
    border-radius: 8px;
}
.featured-img:hover {
    opacity: 70%;
}

/* FEATURED FEEDBACK SECTION */
.featured-feedback {
    margin-bottom: 50px;
    height: auto;
    background-color: var(--clr-dark); 
}
.feedback-info {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-dark);
    margin-top: 200px;
}
.featured-feedback {
    text-align: center;
    line-height: 40px;
}
#rating-stars {
    font-size: 40px;
}
.featured-feedback-img {
    width: 470px;
    height: auto;
    margin-right: 110px;
}
.featured-rating {
   margin: 0 auto;
   height: 40px;
}

/* CUSTOMER FEEDBACK SECTION */
.user-feedback {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.feedback-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    height: auto;
}
.userfeedback-container {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 170px;
    background-color: var(--clr-dark);
    border-radius: 8px;
}
.userfeedback-container h5 {
    margin-left: 5px;
}
.rating, .featured-rating {
    color: var(--clr-primary);
    font-size: 25px;
    padding-left: 5px;  
}
.rating-description {
    margin-top: 10px;
    padding-left: 5px;
    padding-bottom: 20px;
}
.rating-link {
    margin-bottom: 10px;
    margin-left: 7px;
}

@media (max-width: 1205px) {
    .featured-feedback-img {
        margin-top: 5px;
    }
}

@media (max-width: 983px) {
    .featured-cta {
        background-position-x: center;
        background-position-y: 65%;
    }
    .cta-info {
        margin-left: 50px;
    }
    .community-container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .onlinegaming-img {
        border-radius: 4px 4px 0 0;
    }
    .community-info {
        border-radius: 0 0 4px 4px;
    }
    .featured-container, .trending-container {
        width: 600px;
        height: auto;
        padding: 20px;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }
    .featured-feedback-img {
        margin-top: 70px;
        width: 370px;
        height: auto;
    }
    #rating-stars {
        font-size: 25px;
    }
    .featured-feedback p {
        font-size: 0.8rem;
        line-height: 24px;
    }
    .feedback-container {
        justify-content: center;
        align-items: center; 
        flex-wrap: wrap;
    }
    .userfeedback-container {
        width: 285px;
    }
}
@media (max-width: 720px) {
    .featured-cta {
        display: flex;
        justify-content: center;
        background-position-x: 69%;
    }
    .featured-cta h1 {
        font-size: 1.5rem;
    }
    .featured-cta h2, .trending-games h2, .community-info h2, .featured-games h2, .user-feedback h2 {
        font-size: 1.2rem;
    }
    .cta-info {
        margin-right: 40px;
        margin-top: 345px;
        line-height: 20px;
        padding: 10px;
        height: 125px;
    }
    .information-line h3 {
        font-size: 0.5rem;
        margin-left: 2px;
    }
    .information-line p {
        font-size: 0.4rem;
        margin-left: 2px;
    }
    #line-icon1, #line-icon2, #line-icon3 {
        font-size: 2rem;
    }
    .onlinegaming-img {
        width: 400px;
        height: auto;
    }
    
    .community-info {
        width: 400px;
    }
    .featured-container, .trending-container {
        width: 400px;
    }
    .featured-feedback {
        display: none;
    }
}

@media (max-width: 430px) {
    .onlinegaming-img {
        width: 300px;
        height: auto;
    }
    .community-info {
        width: 300px;
        font-size: 0.7rem;
        line-height: 40px;
        padding-top: 40px;
        height: auto;
    }
}

@media (max-width: 300px) {
    
    .information-line h3 {
        font-size: 0.5rem;
        margin-left: 10px;
    }
    .information-line p {
        font-size: 0.4rem;
        margin-left: 10px;
    }
    #line-icon1, #line-icon2, #line-icon3 {
        font-size: 1.6rem;
        padding-left: 10px;
    }
}