@import url("variables.css");




main {
    padding-top: 100px;
    
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
h4 {
    text-align: center;
    padding-top: 5px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.productImage {
    margin-left: 5px;
    margin-top: 5px;
    width: 150px;
    border-radius: 4px 4px 0 0;
    height: auto;
}

.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 800px;
    gap: 1.5em;
    overflow: hidden;
}
.product-container h3 {
    text-align: center;
}

.game {
    width: 160px;
    height: 330px;
    background-color: var(--clr-dark);
    border-radius: 8px;
}
.products-btn {
    background-color: var(--clr-dark);
    color: var(--clr-primary);
    border-color: var(--clr-primary);
    border-radius: 4px;
    width: 100px;
    height: 20px;
    margin-left: 18%;
    font-weight: bold; 
    margin-top: 10px;
}

footer {
    margin-top: 100px;
}

@media (max-width: 720px) {
    .product-container {
        width: 400px;
    }   
    .h2-heading {
        font-size: 40px;
        letter-spacing: 1px;
    }
}