@import url("variables.css");

main {
    padding-top: 250px;
}

.selectedproduct-img {
    width: 400px;
    height: auto;
    border-radius: 4px;
}

.product-information {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.product-infotext {
    width: 450px;
    height: 600px;
    border-radius: 0 4px 4px 0;
    background-color: var(--clr-dark);
}
.product-infotext h1, p {
    padding-bottom: 30px;
    text-align: center;
}
.purchase-options {
    display: inline-flex;
    margin-top: 200px;
    margin-left: 70px;
}
.purchase-options h2 {
    font-size: 30px;
    margin-top: -10px;
    margin-left: 5px;
}
.cart-btn {
 margin-right: 5px;
 margin-left: 5px;
}

.cart-btn, .buy-btn {
    border-color: var(--clr-primary);
    border-radius: 4px;
    width: 130px;
    height: 35px;
    background-color: var(--clr-dark);
    color: var(--clr-primary);  
    font-weight: bold; 
    margin-top: 10px;
}

@media (max-width: 821px){
    .product-infotext {
        font-size: 0.8em;
        width: 300px;
        height: 400px;
    }
    .product-information p {
        padding: 10px;
    }
    .cart-btn, .buy-btn {
        width: 100px;
    }
    .purchase-options h2 {
        margin-top: -5px;
        margin-right: 15px;
        font-size: 20px;
    }
    .purchase-options {
        margin-top: 80px;
        margin-left: 12px;
    }
    .selectedproduct-img {
        width: 300px;
        height: 400px;
    }
}

@media (max-width: 720px) {
    .product-information {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .product-information p {
        padding: 10px;
    }
    .purchase-options h2 {
        margin-top: -5px;
    }
    .purchase-options {
        margin-top: 80px;
        margin-right: 7px;
    }
    .product-infotext {
        text-align: center;
    }
    .purchase-options {
        padding-bottom: 20px;
    }
}