

/* BODY STYLES */
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat, sans-serif;
    background-color: #262626;
    color: #fff;
}
a {
    text-decoration: none;
    color: #fff;
}

/* NAVBAR STYLING */

nav, #nav-checkbox {
    display: none;
}

#nav-checkbox:checked ~ nav {
    display: block;
}

nav {
    position: fixed;
    z-index: 1;
    background: rgb(5, 5, 5);
    border-radius: 3%;
    left: 0;
    margin-top: 17px;
}

header {
    position: fixed;
    width: 100%;
    color: #FF7400;
    background: rgb(5, 5, 5);
    padding: 20px 10px;
    font-size: 1.5rem;  
    z-index: 1;;
}

nav a {
    display: block;
    padding: 10px 20px;
    font-size: 1.3rem;
    text-align: center;
}

nav a:hover {
    color: #FF7400;
    
}

@media (min-width: 720px){
    nav {
        display: block;
        position:static;
        text-align: center;
    }

    .hamburger-icon {
        display: none;
    }

    nav a {
        display: inline-block;
    }
}



/*

@media(max-width: 720px) {
    .footer-col, .footerImage, {
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 720px) {
    .footer-col, .footerImage {
        width: 100%;
    }
   
    
}
*/


/* BOTTOM FEATURED GAMES */





/* Products page styles */

/* Footer style */

.container {
    max-width: 1080px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
footer {
    background-color: rgb(5, 5, 5);
    padding-top: 25px;
    padding-bottom: 20px; 
}
.footer-col {
    text-align: center;
    width: 25;
    padding: 12px 60px;
}
.footer-col h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    font-weight: 700;
    position: relative;
}
.footer-col .social-links  a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255, 0.2);
    margin-right: 5px;
    margin: 0 5px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.footer-col ul {
    list-style-type: none;
    font-size: 14px;  
}

.footer-col li {
    text-align: left;
}




.lineBottom {
    border-bottom: 1px solid #FFFFFFFF;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12px;
    padding-bottom: 12px;
}

.footerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 270px;
    height: auto;
    
}

.copyright {
    text-align: center;
    font-size: 14px;
    padding-top: 25px;;
    margin-bottom: 2px;
}