@import url("variables.css");

*, ::before, ::after {
    box-sizing: border-box;
}


/* BODY STYLES */
*{
    margin: 0;
    padding: 0;
}

main {
    padding-bottom: 150px;
    overflow: hidden;
}

body {
    font-family: Montserrat, sans-serif;
    background-color: var(--clr-dark-grey);
    color: #fff;
}
a {
    text-decoration: none;
    color: #fff;
}
a:hover {
    color: var(--clr-primary);
}


/* NAVBAR STYLING */

nav, #nav-checkbox {
    display: none;
}

#nav-checkbox:checked ~ nav {
    display: block;
}

nav {
    position: absolute;
    z-index: 1;
    background: var(--clr-dark);
    left: 0;
    top: 69px;
}

header {
    position: fixed;
    width: 100%;
    color: var(--clr-primary);
    background: var(--clr-dark);
    padding: 20px 10px;
    font-size: 1.5rem;  
    z-index: 1;
    display: block;
}

nav a {
    display: block;
    padding: 10px 20px;
    font-size: 1.3rem;
    text-align: center;
}

nav a:hover {
    color: var(--clr-primary);
}

.buy-btn {
    width: 100px;
    height: 30px;
    background-color: var(--clr-dark);
    color: var(--clr-primary);
    border-color: var(--clr-primary);
    border-radius: 4px;
}


@media (min-width: 720px){
    nav {
        display: block;
        position:static;
        text-align: center;
    }

    .hamburger-icon {
        display: none;
    }
    .cart-icon-mobile {
        display: none;
    }

    nav a {
        display: inline-block;
        width: 90px;
    }
    
}

@media (max-width: 840px) {
    footer {
        font-size: 0.7rem;
    }
}
@media (max-width: 720px) {
    .footer-row {
        flex-wrap: wrap;
        overflow-x: hidden;
    }
    .footer-column h4 {
        text-align: center;
    }
    .footer-column li {
        text-align: center;
    }
}

/* FOOTER STYLING */

footer {
    width: 100%;
    background-color: var(--clr-dark);
    margin-top: 50px;
}
footer a:hover {
    color: var(--clr-primary);
}
.logo {
    align-items: center;
    text-align: center;
}    
.logo img {
    width: 250px;
    height: auto;
    margin-bottom: 10px;
    padding-top: 30px;
}
.footer-row {
    display: flex;
    justify-content: center;
}
.footer-column {
    width: 250px;
    margin: 20px;
    line-height: 25px;   
}
.footer-column h4 {
    margin-bottom: 12px;
}
.footer-column ul {
    list-style-type: none;
}
.copyright {
    margin-top: 20px;
    text-align: center;
    padding-bottom: 10px;
}