@import url("variables.css");


/* BODY STYLES */
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat, sans-serif;
    background-color: var(--clr-dark-grey);
    color: #fff;
}
a {
    text-decoration: none;
    color: #fff;
}


/* NAVBAR STYLING */

nav, #nav-checkbox {
    display: none;
}

#nav-checkbox:checked ~ nav {
    display: block;
}

nav {
    position: absolute;
    z-index: 1;
    background: var(--clr-dark);
    left: 0;
    top: 69px;
}

header {
    position: fixed;
    width: 100%;
    color: var(--clr-primary);
    background: var(--clr-dark);
    padding: 20px 10px;
    font-size: 1.5rem;  
    z-index: 1;
    display: block;
}

nav a {
    display: block;
    padding: 10px 20px;
    font-size: 1.3rem;
    text-align: center;
}

nav a:hover {
    color: var(--clr-primary);
}



@media (min-width: 720px){
    nav {
        display: block;
        position:static;
        text-align: center;
    }

    .hamburger-icon {
        display: none;
    }
    .cart-icon-mobile {
        display: none;
    }

    nav a {
        display: inline-block;
        width: 90px;
    }
}


   
    

.container {
    max-width: 1080px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
footer {
    background-color: var(--clr-dark);
    padding-top: 25px;
    padding-bottom: 20px; 
}
.footer-col {
    justify-content: center;
    width: 25;
    padding: 12px 60px;
}
.footer-col h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    font-weight: 700;
    
}

.footer-col ul {
    list-style-type: none;
    font-size: 14px; 
}

.footer-col li {
    text-align: left;
}

.lineBottom {
    border-bottom: 1px solid #FFFFFFFF;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12px;
    padding-bottom: 12px;
}

.footerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 270px;
    height: auto;
    
}

.copyright {
    text-align: center;
    font-size: 14px;
    padding-top: 25px;;
    margin-bottom: 2px;
}

@media(max-width: 765px) {
    .footer-col {
        flex-direction: column;
    }
}