@import url("variables.css");


main {
    padding-top: 200px;
    padding-bottom: 200px;
}



.basket-container {
    display: flex;
    overflow: hidden;
}

.basket-options {
    display: flex;
    align-items: flex-end;
    font-size: 25px;
    width: 80%;
    height: 50px;  
    padding-bottom: 10px;
}
.cart-links {
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
}
.basket-sections {
    display: flex;
    padding-top: 50px;    
    justify-content: center;
}
.section-name {
    width: 300px;    
}
.game-container {
    display: flex;
    padding: 30px;
    justify-content: space-evenly;
    border-top: 1px solid var(--clr-primary);
    border-bottom: 1px solid var(--clr-primary); 
}
.basket-img {
    width: 200px;
    height: auto;
    text-align: center;
    margin-top: 20px;

}
.basket-img img {
    width: 120px;
    height: auto;
}

.product-price {
    width: 300px;
    text-align: center;
}
.total-price {
    width: 300px;
    text-align: center;
}
.game-quantity {
    margin-top: 65px;
    padding-top: 2px;
    width: 200px;
    text-align: center;
    height: 50px;
    width: 150px;
    background-color: var(--clr-dark);
    border-radius: 15px;
}
.quantity-btn {
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
    width: 35px;
    height: 25px;
    background-color: var(--clr-primary);
    border-radius: 5px;
}
