@import url("variables.css");


main {
    padding-top: 200px;
    padding-bottom: 200px;
}


.header-container {
    display: flex;
    justify-content: flex-end;  
}
h1 {
    position: absolute;
    left: 0;
    margin-top: 4px;
}

.header-links {
    margin-top: 20px;
    margin-right: 20px;
    padding-left: 20px;
}
.header-links a:hover {
    color: var(--clr-primary);
}

.basket-container {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--clr-primary);
    border-top: 1px solid var(--clr-primary);
    padding-top: 35px;
    padding-bottom: 35px;
}
.product-container {
    margin-left: 50px;
    width: 160px;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--clr-dark);
    border-radius: 5px;;
}
.basketproduct-img {
    padding: 5px;
    width: 150px;
    height: auto;   
}
.description {
    margin-top: 50px;
    padding: 5px;
}
.description p {
    margin-top: 5px;
}

.quantity-container {
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.button-bg {
    margin-top: 50px;
    width: 100px;
    height: 40px;
    background-color: var(--clr-dark);
    border-radius: 5px;
}
.quantity-btn {
    font-size: 12px;
    font-weight: bold;
    margin-top: 7px;
    width: 25px;
    height: 25px;
    color: var(--clr-primary);
    background-color: var(--clr-dark);
    border-radius: 5px;
    border-color: var(--clr-primary);
}
#minus-btn {
    margin-right: 10px;
}
#plus-btn {
    margin-left: 10px;
}
.price-container {
    text-align: center;
}
.price {
    margin-top: 55px;
    padding: 5px;
}
.totalprice-container {
    text-align: center;
}
.amount {
    margin-top: 55px;
    padding: 5px;
}
.discount-container {
    margin-left: 20px;
    padding: 10px;
}
.discount {
    padding: 5px;
    background-color: var(--clr-dark);
    border-radius: 5px;
}
.discount-code {
    height: 25px;
    width: 130px;
    margin-top: 50px;
    border: 1px solid var(--clr-primary);
    background-color: var(--clr-dark-grey);
    border-radius: 5px;
    color: #fff;
}
::placeholder {
    color: #fff;
    padding-left: 3px;
}
input:focus::-webkit-input-placeholder {
    opacity: 0;
}
.discount-btn {
    background-color: var(--clr-dark);
    color: var(--clr-primary);
    border-color: var(--clr-primary);
    height: 25px;
    width: 70px;
    border-radius: 4px;
    margin-left: 5px;
}
.checkout-container {
    display: flex;
    flex-direction: column;
    float: right;
    width: 285px;
    height: 200px;
    margin-top: 50px;
    margin-right: 150px;
    line-height: 40px;
}
.subtotal {
    word-spacing: 171px;
    padding-left: 10px;
}
.discount-amount {
    word-spacing: 176px;
    background-color: var(--clr-dark);
    border-radius: 10px;
    padding-left: 10px;
}
.totalamount-checkout {
    word-spacing: 200px;
    padding-left: 10px;
}
.checkoutline {
    border: 1px solid var(--clr-primary);
    margin-bottom: 20px;
    flex-direction: column;
}
.checkout-btn {
    width: 100px;
    height: 30px;
    background-color: var(--clr-dark);
    color: var(--clr-primary);
    border-color: var(--clr-primary);
    border-radius: 4px;
}
@media (max-width: 1250px) {
    .description {
        font-size: 0.7rem;
    }
    .checkout-container {
        float: none;
        margin: 0 auto;
        margin-top: 100px;
        line-height: 40px;
    }
}
@media (max-width: 860px) {

    .header-links {
        padding: 30px;
        font-size: 12px;
    }
    .product-container {
        margin: 0 auto;
    }
    .description {
       text-align: center;
        margin-top: 20px;
    }
    .description h4 {
        margin-bottom: 15px;
    }
    .basket-container {
       flex-direction: column;
    }
    .quantity-container, .price-container, .totalprice-container {
        display: flex;
    }
    .quantity-container, .price-container, .totalprice-container {
        font-size: 0.8rem;
    }
    .quantity-container h3 {
        margin-top: 20px;
        width: 100px;
    }
    .price-container, .totalprice-container {
        margin-top: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .price-container h3, .totalprice-container h3 {
        width: 100px;
        margin-top: 27px;
    }
    .price, .amount, .discount {
        width: 100px;
    }
    .button-bg {
        position: relative;
        margin-top: 20px;
    }
    .price {
        margin-top: 25px;
    }
    .totalprice-container {
        margin-top: 30px;
    }
    .amount {
        margin-top: 25px;
    }
    .discount {
        width: 100px;
        margin: 0 auto;
    }
    .discount-container {
        align-items: center;
        text-align: center;
    }
    .checkout-container {
        margin-top: 50px;
        font-size: 0.8rem;
    }
    .subtotal {
        word-spacing: 187px;
    }
    .discount-amount {
        word-spacing: 190px;
    }
    .totalamount-checkout {
        word-spacing: 210px;
    }
}





